<div class="head-div" style="background-color:#DF013A;height: 100px;padding:5%;text-align: center;font-style: italic;">
    <h1 style="color:#fff;border-bottom:1px solid #fff;font-family: lobster;"><b>Shopping List</b></h1>
</div>

<div class="container-2" *ngFor="let y of combined,let i =index">
  <div style="padding:5px;color: #B40431;font-weight: 1em;font-weight: bold;">{{y.item}}</div>
  <div class="img-div"><img [src]="y.url"  style="height:10%;border-radius: 100%;text-align:center;"></div>
  <div class="buttons-divs">
    <div class="edit-div"><button class="btn btn-danger"  
      style="border:1px solid  #FF0000;background-color: #FF0000;"
      (click)="removeItem(i)" type="button" >Remove</button></div>
    <div class="delete-div"><button class="btn btn-warning" 
      style="border:1px solid  #D7DF01;background-color: #D7DF01;"
      (click)="editItem(i,y.item)" type="button" >edit</button></div>
  </div>
</div>
<div class="container-3"> 

    <form #listData="ngForm" style="padding-top: 20px;">
      <div class="item-name">
      <input type="text" 
            [(ngModel)]="item" 
            name="item"
            class="form-control" 
            placeholder="Item name..." 
            aria-label="Recipient's username" 
            aria-describedby="button-addon2" 
            #ctrl="ngModel" required>
            <div *ngIf="ctrl.invalid && (ctrl.dirty || ctrl.touched)"
            class="alert alert-danger">
           <div *ngIf="ctrl.errors.required">
                     Username is required
           </div>
           </div>
       </div>
    <div class="img-input">
    <div class="input-group mb-3">
       <div class="input-group-prepend">
         <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
       </div>
       <div class="custom-file">
         <input 
             type="file" 
             (change)="fileChangeEvent($event)" 
             class="custom-file-input" 
             id="inputGroupFile01" 
             aria-describedby="inputGroupFileAddon01">
         <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
       </div>
      </div>
    </div>
    <div class="upload-btn">
      <div style="color:red;">
        <p>{{  this.imageError}}</p>
      </div>
        <button class="btn btn-success" style="border:1px solid  #B40431;background-color: #B40431;border-radius: 10px;width:90%;margin-left: 5%;" [disabled] = "!listData.form.valid"  (click)="newItem()" type="button" >Add</button>
    </div>
  </form>
  </div>
  <ng-container *ngIf="valueEdit!=''">  
  <div class="container-3"> 
    <br><br><br><br><br><br>
        <div class="item-name">
          <input text="text"
          [(ngModel)]="valueEdit" 
          class="form-control"  
          aria-label="Recipient's username" 
          aria-describedby="button-addon2" 
          placeholder="Item...">
         </div>
      <div class="img-input">
        <input 
        type="file" 
        (change)="editfileChangeEvent($event)" >
      </div>
      <div class="upload-btn">
        <button class="btn btn-primary" (click)="editItem(idEdit,valueEdit)">Edit</button>
      </div>
    </div>
  </ng-container> 





















































